<p>routes-practice works!</p>


<!-- <div [innerHtml] = "routes">
</div> -->

<!-- <p>promise-observable works!</p> -->
<h1>
    Routes in Before anguar 14 vs After anguar 14
</h1>
<div class="app-container">
    <div class="child-container">
        <h2>Before anguar 14(Standalone Components)</h2> <br>
        <div class="pre-line">
            {{routesBefore}}
        </div>
    </div>
    <div class="child-container">
        <h2>After anguar 14(Standalone Components)</h2> <br>
        <div class="pre-line">
            {{routesAfter}}
        </div>
    </div>
</div>